RewriteEngine On
# If the requested resource is neither an existing physical file nor a directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Redirect all requests to index.php (Front Controller pattern)
RewriteRule ^(.*)$ index.php [QSA,L]